# EcoTrail Frontend Environment Variables
VITE_API_BASE_URL=http://127.0.0.1:8000
VITE_FIREBASE_API_KEY=your_firebase_api_key
VITE_FIREBASE_AUTH_DOMAIN=ecotrail-5a76a.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=ecotrail-5a76a
VITE_FIREBASE_STORAGE_BUCKET=ecotrail-5a76a.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=296245711044
VITE_FIREBASE_APP_ID=1:296245711044:web:422936f2f0c1e5ed833991
